<header class="header">

        <ul class="grid">
					<a href="#"><li><h2></h2></li></a>
				</ul>
  <!-- <div class="bg-img" style="background-color:#2C3E50"><img src="../img/" alt="Background Image"/></div> -->
  <div class="bg-img" style="background-color:#2C3E50"></div>

<div class="title">

    <h1>{{ page.title }}</h1>
    <p class="subline"> Organization : SymPy <br>
      Solvers: Completing Solveset
    </p>
    <p>{{ page.week }}</p>
    <p>by <strong>Shekhar Prasad Rajak</strong> &#8212; Posted on <strong>{{ page.date | date: "%B %e, %Y" }}</strong></p>
    <a href="/" style="margin-right:50%;">
        Back to Main Blog
    </a>
    <a href="/" style="margin-left:0%;">
        Home page
    </a>
  </div>

</header>
  <button class="trigger" data-info="Go Down or Click"><span>&#9660;</span></button>
