<div id='cssmenu'>
     <ul>
        <li data-menuanchor = "page2" ><a href='http://s-hacker.info/index.html#page2'><span>About ~</span></a></li>
        <li data-menuanchor = "page3"><a href='http://s-hacker.info/index.html#page3'><span>Experience ~</span></a></li>
        <li data-menuanchor = "page4"><a href='http://s-hacker.info/index.html#page4'><span>Achievements ~</span></a></li>
        <li data-menuanchor = "page5"><a href='http://s-hacker.info/index.html#page5'><span>Attended Seminars/Workshops/Other ~</span></a></li>
        <li><a href='{{ site.baseurl }}'><span>Blog ~</span></a></li>
        <li data-menuanchor = "page6" class='last'><a href='http://s-hacker.info/index.html#page6'><span>Contact Me ~</span></a></li>
     </ul>
  </div>
