
#cssmenu {
  background: rgb(44, 62, 80);
  width: auto;
  position:fixed;
  z-index: 10;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #FFFFFF;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #FFFFFF;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #FFFFFF;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


.title {
    color: #FFFFFF;
    text-transform: uppercase;
}


/*********************************
SEARCH BAR
**********************************/

.search-btn {
	position: fixed;
	right: 10px;
	top: 15px;
	fill: #DDD;
}
.search-btn:hover {
	fill: #BBB;
}

.search {
	position: fixed;
	background-color: rgba(102, 51, 153, 0.95);
	background-color: rgba(0, 191, 255, 0.85);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: beige;
	z-index: 1;
	transition: 0.2s ease;
	visibility: hidden;
	opacity: 0;
}
.search__close-btn {
	fill: #DDD;
	position: absolute;
	right: 10px;
	top: 15px;
	z-index: 1;
}
.search__input {
	border: 0;
	font-size: 50px;
	border-left: none;
	border-right: none;
	color: #999;
	width: 100%;
	padding: 10px 31px;
	text-align: center;
	transform: translateY(-100%);
	transition: 0.15s ease-out 150ms;
}
.is-active .search__input {
	transform: translateY(0);
}
.search__results {
	text-align: center;
	list-style: none;
	padding: 0;
	overflow-x: hidden;
	height: calc(100% - 110px);
	transition: 0.2s ease;
}
.search__results.is-hidden {
	opacity: 0;
	transform: translateY(-1vh);
}

.search__results > li > a {
	display: block;
	position: relative;
	background-color: #f9f9f9;
	color: #666;
	padding: 17px;
	margin: 12px 14px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}
.search__result-date {
	color: #BBB;
	position: absolute;
	right: 12px;
}
.search.is-active {
	opacity: 1;
	visibility: visible;
}
