---
layout: default

---



	{% include head-post.html %}

<body class="demo-6">
	<div id="container" class="container intro-effect-grid">
	{% if page.sympy_post %}
		{% include header-post-sympy.html %}
	{% elsif page.sciruby_post %}
		{% include header-post-sciruby.html %}
	{% endif %}


			<!-- Top Navigation -->
			<article class="content" style="padding-top:100px;">
				<div>

					{{ content }}

					<!-- Page neviagation -->
					{% include page_navigation.html %}
					<!-- Page neviagation end -->

					{% include follow_github_button.html %}
			</div>

			<div id="disqus_thread" style="	margin-top: 40px;"></div>

			</article>
		</div>

  <!-- <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div> -->

  {% include disqus.html %}

{% include footer-post.html %}
