---
layout: default

---



	{% include head-post.html %}

<body class="demo-6">
	<div id="container" class="container intro-effect-grid">
	{% include header-post-default.html %}


			<!-- Top Navigation -->
			<article class="content">
				<div>

					{{ content }}

					<!-- Place this tag where you want the button to render. -->
					<a style="position: absolute;" class="github-button" href="https://github.com/shekharrajak"
					data-style="mega" data-count-href="/shekharrajak/followers" data-count-api="/users/shekharrajak#followers"
					data-count-aria-label="# followers on GitHub" aria-label="Follow @shekharrajak on GitHub">Follow @shekharrajak</a>
			</div>

			<div id="disqus_thread" style="	margin-top: 40px;"></div>

			</article>
		</div>

  <!-- <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div> -->


  {% include disqus.html %}

{% include footer-post.html %}
