---
layout: default

---


<!DOCTYPE html>
	{% include head-post.html %}

<body class="demo-6">
	<div id="container" class="container intro-effect-grid">
	{% include header-post-default.html %}


			<!-- Top Navigation -->
			<article class="content">
				<div>
					<p>
					{{ content }}
					</p>
			</div>
			<div id="disqus_thread"></div>

			</article>
		</div>

  <!-- <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div> -->


  {% include disqus.html %}

{% include footer-post.html %}
